/* Project 1 = The Game
Due: Friday the 26th of August, 2022
Source: https://gist.git.generalassemb.ly/kasun/6c594180b30ee78feb3ff42547f4afea */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Layout tags */

body {
    margin: 0;

    background-color: #C0D6DF;
}

header {
    padding: 1rem 0 2.5rem 0;

    background-color: #4F6D7A;
}

header p {
    margin: 0;

    color: white;
}

main {
    text-align: center;
}

footer {
    background-color: #EAEAEA;

    padding: 2rem 0 4rem 0;
}

footer p {
    margin: 0;
}





/* Text tags */

h1, h2, h3 {
    font-family: 'Montserrat', Tahoma, Verdana, sans-serif;
    color: #DD6E42;
}

h1 {
    margin: 0;
    padding: 0.5rem 0;

    font-size: 3.5rem;
} 





/* Class tags */

.ui-player-title {
    text-decoration: underline;
}

.game-row {
    display: flex;
    margin: 4rem 0;
    height: fit-content;
    align-items: center;
    justify-content: center;
}

.ui-player-1, .ui-player-2 {
    display: flex;
    margin: 0 3rem;
    width: 7rem;
    height: 10rem;
    align-items: center;
    flex-direction: column;
}

.ui-player-title, .ui-player-score {
    margin: 0.25rem 0;
    height: 2rem;
}

.core-game {
    display: flex;
    width: fit-content;
}

.column {
    display: inline-block;
}

.square {
    margin: 0;
    height: 4rem;
    width: 4rem;

    border: 1px solid grey;
    background-color: #4F6D7A;

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

    user-select: none;
}

.square p {
    margin-block-start: 1.5em;
}

.game-announcement-row {
    padding: 2.5rem 0;

    background-color: #E8DAB2;
}





/* Id tags */

#ui-player-1-turn-indicator, #ui-player-2-turn-indicator {
    font-style: italic;
}

#ui-loading-bar {
    display: inline-block;
    padding: 0;
    width: 21rem;
    height: 1.75rem;

    background-color: lightgreen;
    border: 2px solid grey;
    border-radius: 0.5rem;
}

#ui-loading-bar-slider {
    height: inherit;
    width: 0%;

    background-color: lightcoral;
    border-radius: 0.35rem;

    /* animation: loading-bar-animation 5s 5; */
}

#ui-game-continue-button, #ui-game-restart-button {
    width: 6rem;
    height: 2rem;
    margin: 0 1.5rem;

    font-style: normal;
    color: #E0E0E0;
}

#ui-game-continue-button {
    background-color: #50D020;
}

#ui-game-restart-button {
    background-color: #F55550;
}

#ui-game-continue-button:hover, #ui-game-restart-button:hover {
    font-weight: 600;;
    font-style: italic;
}

#ui-game-continue-button:disabled, #ui-game-restart-button:disabled {
    background-color: #B0B0B0;
    color: #1F1F1F;

    font-style: italic;
}





/* Animation keyframes */

/* @keyframes loading-bar-animation {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
} */
