/* Project 1 = The Game
Due: Friday the 26th of August, 2022
Source: https://gist.git.generalassemb.ly/kasun/6c594180b30ee78feb3ff42547f4afea */

/* Layout tags */

body {
    margin: 0;
}

main {
    text-align: center;
}

/* Text tags */



/* Class tags */

.game-row {
    display: flex;
    margin: 4.5rem 0;
    height: fit-content;
    align-items: center;
    justify-content: center;
}

.ui-player-1, .ui-player-2 {
    display: flex;
    margin: 0 3rem;
    width: 7rem;
    height: 10rem;
    align-items: center;
    flex-direction: column;
}

.ui-player-title, .ui-player-score {
    margin: 0.25rem 0;
    height: 2rem;
}

.core-game {
    display: flex;
    width: fit-content;
}

.column {
    display: inline-block;
}

.square {
    margin: 0;
    height: 4rem;
    width: 4rem;

    border: 1px solid grey;
    background-color: cadetblue;

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.square p {
    margin-block-start: 1.5em;
}

/* Id tags */

#ui-player-1-turn-indicator, #ui-player-2-turn-indicator {
    font-style: italic;
}